.section__text__button {
    background-color: $nickel;
    color: $white;
    border-radius: 50px;
    font-family: $roboto;
    font-size: $small;
    color: $platinum;
    padding: 10px;
    text-align: center;
    border: 20px;

    &:hover {
        background-color: $light-gray;
        color: $white;
    }

    &:focus {
        border: -1px solid $light-gray;

    }
}

* .section__pagination__botones__anterior {
    border-top-left-radius: 1.25rem !important;
    border-bottom-left-radius: 1.25rem !important;
    color: $nickel;
}

* .section__pagination__botones__siguiente {
    border-top-right-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
    color: $nickel;
}

*.section__pagination__botones {
    color: $nickel;
}